.header {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
  height: 32px;
}

.bar {
  width: 1px;
  margin-inline: 1rem;
  background-color: var(--clr-neutral-300);
  align-self: stretch;
}
