.source {
  padding-block: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  color: inherit;
  text-underline-offset: 3px;

  h2 {
    text-decoration: underline;
    text-decoration-color: currentColor;
  }

  a {
    color: inherit;
    display: flex;
    gap: 0.5rem;

    &::after {
      content: url("./src/assets/images/icon-new-window.svg");
    }
  }
}
