.wrapper {
  position: relative;
  display: flex;
  border-radius: 16px;
  padding-right: 24px;

  &:focus-within {
    outline: 1px solid var(--clr-primary);

    input {
      outline: none;
    }
  }
}

.input {
  flex: 1;
  border: none;
  padding-inline: 24px;
  padding-block: clamp(12px, 3vw, 17px);
  background-color: transparent;
  font-size: var(--fs-500);
  font-weight: 700;
  caret-color: var(--clr-primary);

  &:user-invalid {
    outline-color: var(--clr-error) !important;
  }
}

.button {
  border: none;
  background: transparent;
  cursor: pointer;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  color: var(--clr-error);
  position: absolute;
  top: calc(100% + 0.5rem);
}

.was-validated .wrapper:has(input:invalid) {
  outline: 1px solid var(--clr-error);
}
