@value tablet-and-up from "/src/global-styles/breakpoints.module.css";

.meaning {
  --meaing-spacing: clamp(2rem, 6vw, 2.5rem);

  padding-bottom: var(--meaing-spacing);

  &:first-of-type {
    padding-top: var(--meaing-spacing);
  }
}

.section-heading {
  margin-bottom: 35px;
}

.sub-heading {
  font-size: var(--fs-500);
  font-weight: 400;
  margin-bottom: 18px;
  color: var(--clr-neutral-400);
}

.definitions {
  padding-inline: 1rem 0; /* aligns the bullet point */

  @media (tablet-and-up) {
    padding-left: 38px;
  }

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  li {
    padding-left: 10px;

    &:not(:last-child) {
      margin-bottom: 13px;
    }

    &::marker {
      color: var(--clr-primary);
    }
  }
}

.synonyms {
  display: flex;
  flex-wrap: wrap;

  dt {
    margin-right: 40px;
  }

  dd {
    margin-right: 16px;
  }
}

.example {
  margin-top: 13px;
}
